[2019-06-21 14:29] jasonabradley opened #1 "Suggested actions not working"
The suggested actions are not populating in the demo even when causing the sample utterances to appear in the transcription. Browser: Chrome 75

[2019-06-21 20:27] efh365 commented on #1
Thanks for bringing this to our attention. I will look into it. Can you verify that the words picked out by Comprehend are an *exact* match. (ex: "a new service" != "new service")? Also, are there any errors in the console?

[2019-06-21 20:58] jasonabradley commented on #1
Yes they are exact. No errors in console. It works in Firefox sporadically, not consistently. Never works in Chrome.

Jason
________________________________
From: efh365 <notifications@github.com>
Sent: Friday, June 21, 2019 3:27:26 PM
To: awslabs/ai-powered-speech-analytics-for-amazon-connect
Cc: Jason Bradley; Author
Subject: Re: [awslabs/ai-powered-speech-analytics-for-amazon-connect] Suggested

[2019-06-24 14:08] efh365 commented on #1
Can you add a screen shot or the exact text of what the translation shows and which AWS Comprehend key phrases are picked out? The suggested next steps are based on key phrases picked out by AWS Comprehend. So if you say "I would like the promotional pricing", but the key phrase is only "promotional pricing" (without "the"), then the suggested action will not appear.

I tested with a new stack in

[2019-06-28 14:28] czhao028 opened #2 "lambda.invokeAsync depracated"
Although it seems like this code is fairly recently built, the Java SDK says that lambda.invokeAsync is deprecated, which appears in index.js of kvs_trigger. If we're trying to deploy this is a lambda function ourselves (with a few modifications), should we swap out the invokeAsync with invoke(request)? Is there a different version that ran with the CloudFormation template?

[2019-06-28 14:29] czhao028 commented on #2
CloudFormation template mentioned is deployment/AI-powered-speech-analytics-for-amazon-connect.template

[2019-06-28 18:53] efh365 commented on #2
It looks like invokeAsync() is deprecated in the java sdk, but not in the js sdk. Since this is used in the kvs_trigger function, which is js, it should be ok to use. That is what we have used throughout our development and testing.

js: https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Lambda.html#invokeAsync-property
java: https://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws

[2019-09-10 01:17] qt1211 opened #3 "Transcriptions are not saved on S3 bucket"
Hi,
For some reason, I got the first 3 transcripts saved on my S3 bucket (inside "transcripts" folder). However, none of the calls after that got transcripts saved. The real-time transcripts was still working. All audios were still saved in "recordings" folder.
Could someone tell me where and which variables I need to check for this issues?
Here are some parameters I have set:
transcribeCall : TRU

[2019-09-10 13:56] efh365 commented on #3
Hi. The logic to upload the transcript to S3 is in the agentAssist.html file in the function writeTranscriptToS3(). At the end of the call the transcript is written to S3 as the contact attributes are being updated. Are you testing using the UX provided in this solution? If so, do you see any errors in the console when the call has ended?

[2019-09-10 23:21] qt1211 commented on #3
Oh, thanks. I found the issue. I changed the languageCode to en-AU for Australian accent, the Transcribe service does support en-AU but apparently the Comprehend does not. That's why I could see all transcripts but none are saved. To work around, I have added "en-AU" to fromLanguageDict.
Thanks for your help :)

[2019-09-10 23:21] #3 closed

[2019-09-11 02:47] qt1211 opened #4 "Is it possible to transcribe both agent and customer voices? Or instead of customer's voice, could we transcribe agent's voice?"

[2019-09-22 13:57] ajay1976 opened #5 "manifest-generator not available"
cd $deployment_dir/manifest-generator
npm install
node app.js

This is failing as there is no manifest-generator directory available and no app.js is available. is there any manually needs to be done to make it working?

[2019-09-23 20:02] efh365 commented on #5
Hi ajay, What are you trying to do specifically?

[2019-10-01 10:11] rradchenko opened #6 "aws-credentials.js"
I can't find js/aws-credentials.js. Where can I get this file?

[2019-10-01 13:13] efh365 commented on #6
This file is created upon stack creation and is added to your S3 bucket that contains the contents of the website. It is under the js/ folder.

[2019-10-02 08:32] rradchenko commented on #6
Got it! Thanks

[2019-10-02 08:32] #6 closed

[2019-10-22 11:49] madmaxgorgon opened #7 "Not getting proper output for speech to text translation in dynamoDB"
Hello I am trying to get the transcription from customer call. I was able to get the audio in S3 bucket. But at the time of real time transcription I am not getting exact output.
Ex. When I say "balance" or anything else it is just storing Recorded,Courted or where did.
It is not storing the actual speech.
Please reply this is kind of urgent

[2019-11-26 07:33] kpx-dev commented on #5
Yea looks like it's missing the directory from here:
https://github.com/awslabs/ai-powered-speech-analytics-for-amazon-connect/blob/master/deployment/build-s3-dist.sh#L217-L222

[2019-11-26 18:40] efh365 commented on #5
Thank you for pointing this out. I have just updated the solution and the manifest generator folder is there now.

[2019-11-26 18:44] efh365 commented on #4
Hi, yes now you can stream the audio that the customer both says and hears. I have just updated the solution to account for this. https://docs.aws.amazon.com/connect/latest/adminguide/customer-voice-streams.html

You can follow the details on this README that tell you how to enable streaming. You will just need to add contact attributes saying which streaming to enable and you will need to update

[2019-11-26 18:44] #4 closed

[2019-12-01 11:23] tamdilip opened #8 "Speaker identification in transcription"
I see from the contact flow I can enable options to stream both agent and customer voice.
I need to set the speaker identification and to receive the transcription for both voices, I am not able to figure out how to achieve this ? Please guide me in setting it up ASAP.

References I went through-
1. [Enabling two way streams](https://github.com/awslabs/ai-powered-speech-analytics-for-amazon-connec

[2019-12-03 17:47] efh365 commented on #8
Hi, yes you can do this. First, you need to enable streaming to and from the customer in the contact flow by using the Start Media Streaming block. Then you need to update the KvsTrigger Lambda function to set the boolean to true for both directions. Then you should see the audio stream to the customer being transcribed into the DDB for the ToCustomer audio stream.

[2019-12-04 03:05] tamdilip commented on #8
Thanks for the response 🙂. Yes I did the same and it worked as u said. Looks like I have to set the lambda trigger function for agent segment table too to send it in the socket response on DB insert. Will try that, as I was expecting e2e transcription on both voices ✌️.

[2019-12-05 15:14] #8 closed

[2020-03-17 17:52] mjtk-ktjm opened #9 "github is no longer in sync with what is deployed from the solutions page"
I notice that the agentAssist.html deployed via the cloudformation stack does not match what is in github. Is there an eta for getting these in sync?

[2020-03-17 18:39] efh365 commented on #9
We just updated both the GitHub repo and the Solutions page yesterday. When did you last deploy the stack?

[2020-03-17 19:29] mjtk-ktjm commented on #9
hmm.. I deployed a fresh stack yesterday following up on an issue that was reported with getOverallSentiment behavior. But when I cloned the repo this morning, I was looking at a different version of the file. Maybe more of a github issue than a code issue?

Though, I do have a follow up question on that.
If this is the current code for getOverallSentiment :

[code]
then `language = language ? lan

[2020-03-22 14:50] vidhanbagdai opened #10 "Transcription very slow"
There is a delay of almost 6-7 seconds between what I speak and the real time transcription that happens, i.e. the text comes up on screen after 6-7 seconds after I finish speaking. The network speed is almost 100 mbps, still this issue occurs.

[2020-03-22 18:15] tamdilip commented on #10
Yes the transcription latency is high 😐 !!

[2020-03-23 08:21] vidhanbagdai commented on #10
Yes I know! It is impossible to showcase this to potential clients.

[2020-03-23 12:05] vidhanbagdai commented on #10
Does anyone have a sloution for this?

[2020-03-23 18:53] cwwiser commented on #10
Hi, might I suggest tuning your lambdas- I added memory to the real-time lambdas and see fantastic performance in my environment. Also, 100mbps is a measure of bandwidth, not an indication of network latency..

[2020-03-30 05:57] vidhanbagdai commented on #10
@cx-cwiser Tried increasing the memory of lambdas, the transcribed text is coming up quicker on screen but still there is a gap of 5-6 seconds between what the customer speaks and the writing of the transcribed text. Any other suggeestioin or perhaps how much memory to assign to each lambda?

[2020-04-22 05:58] laimonassutkus opened #11 "startStreamingAudioStatus Failed"
A freshly deployed stack tested on chrome 81 (Version 81.0.4044.113 (Official Build) (64-bit)).

When getting a call in console these errors can be seen:

[code]

Also, sample UI shows this status:

[code]

In S3 audio bucket I can see **empty** transcriptions and non of the audio files. It is because the startStreamingAudio has failed. Any suggestions how to fix that?

More context:
Stack deploye

[2020-04-22 06:00] laimonassutkus commented on #10
Its due to the Comprehend/Transcribe service itself. Deal with it. If you want something fast use WEB Speech API.

[2020-04-22 13:45] efh365 commented on #11
Hi. This is failing because realtime streaming is not available in Frankfurt. You can check out the region availability here:
https://aws.amazon.com/about-aws/global-infrastructure/regional-product-services/

[2020-04-24 05:56] laimonassutkus commented on #11
Thank you. I have deployed it to N. Virginia. However I am experiencing other errors nows. Even though I have followed the tutorial exactly.

[code]

And after that this:

[code]

But deploying stack to a supported region indeed helped!

Metatags for connect client show streaming success:

[code]

[2020-04-24 14:35] efh365 commented on #11
It seems like those errors are from the agent UX, right? Sometimes there are errors in the console that don't actually cause any failures. What are you seeing from the agent perspective? What isn't working?

[2020-05-13 04:20] OliviaChaudhuri opened #12 "Event handler failed on AgentUI page"
The whole flow remains untouched. Only changes are being made on AgentUI page to call certain APIs. Everything was working completely fine until yesterday afternoon. Suddenly the last bit stopped working on its own. Attaching screenshot of AgentUI backend console screen.
![MicrosoftTeams-image](https://user-images.githubusercontent.com/60867492/81770892-2f56a400-94ff-11ea-8a5d-28dd43615105.png)

[2020-05-13 14:03] efh365 commented on #12
Hi Olivia. It is hard to say why this failing with the provided information. You said everything worked fine until one afternoon. What changes did you make? Can you include a screen shot of the logs with the first error message you see? The first error, not the last one, is the most important one

[2020-05-13 17:01] OliviaChaudhuri commented on #12
Hi

After hours of debugging we are guessing that the "Start media Streaming" block isn't passing the required data to the Lambda function that follows it. Because of which transcript is not coming.

[2020-05-18 20:00] efh365 commented on #12
Can you elaborate on what you mean by the 'required data'? What is it missing?

Do you have the contact attribute for transcription set to true?

[2020-05-20 04:29] drewdresser opened #13 "Connect login popup shows "Session Expired""
I follow the steps in the deployment guide (unless I missed something). I open up the web app, but when i get the authentication popup from Connect, I get a "Session Expired Your session has expired. Please log in."

This happens if I'm logged into Connect on another tab or not.

Could this be related to the new version of connecting to Connect?

[2020-05-20 16:18] ramprasadsv commented on #13
Hello,
     Can you please confirm if you are using SSO (SAML type of authentication) or Amazon Connect as the identity store and authentication to sign in?

[2020-05-20 16:23] drewdresser commented on #13
Hi, thanks for the response.
I am using Amazon Connect as the identity store and authentication to sign in. I created a user and can sign in with that user by using my login url: https://<name>.awsapps.com/connect/login

[2020-06-30 17:44] efh365 commented on #10
You can also try to keep your KVSTranscriber Lambda function warm by following this blog: https://aws.amazon.com/blogs/compute/new-for-aws-lambda-predictable-start-up-times-with-provisioned-concurrency/

You will need to update the KVSTrigger function to call the pre-warmed version of the function

[2020-06-30 17:45] #9 closed

[2020-06-30 17:45] #5 closed

[2020-06-30 17:45] #1 closed

[2020-06-30 17:46] #2 closed

[2020-07-24 11:32] rezabekf opened #14 "[createWebSiteS3Bucket] The bucket you tried to delete is not empty"
Stack fails to delete due to a S3 bucket not being empty.

Replication:
Delete deployed stack.

Proposed resolution:
Consider adding code below to the `createWebSiteS3Bucket` resource:
[code]

[2020-07-24 11:35] rezabekf opened #15 "[createS3Bucket] The bucket you tried to delete is not empty"
Stack fails to delete due to a S3 bucket not being empty.

Replication:
Delete deployed stack.

Proposed resolution:
Consider adding code below to the `createS3Bucket` resource:
[code]

[2020-07-29 13:40] Benkracker commented on #11
Ensure that you've enabled Live Media Streaming for your Amazon Connect instance.

[2020-08-30 22:41] kqia040 commented on #15
Thanks for the comment, I've added to our backlog.

[2020-08-30 22:42] kqia040 commented on #14
Thanks, I'll close this issue as its a duplicate of https://github.com/amazon-connect/ai-powered-speech-analytics-for-amazon-connect/issues/15

[2020-08-30 22:42] #14 closed

[2020-09-16 12:53] LucMacPaquet opened #16 "Add more language options for both transcription and translation"
Hi, I added a third choice in the contact flow to add french transcription and set the attribute languageCode to fr-FR. Any idea why there is no french transcription in the CCP?

Also, where can I add french a an translation option?

Thanks

[2020-09-22 18:49] efh365 commented on #16
Hi, at the launch of the solution only two languages were supported. You will need to update the kvsTrigger lambda function and replace this line to accept fr-FR: https://github.com/amazon-connect/ai-powered-speech-analytics-for-amazon-connect/blob/master/source/kvs_trigger/index.js#L39

[2020-09-22 18:51] efh365 commented on #13
Is this still an issue?

[2020-09-22 18:52] efh365 commented on #11
is this still an issue?

[2020-09-24 07:00] laimonassutkus commented on #11
Closing.

[2020-09-24 07:00] #11 closed

[2020-09-25 02:21] nikosheng opened #17 "[Transcribe Endpoint Error] - Wrong Transcribe Endpoint definition in class KVSTranscribeStreamingLambda"
Hi,

I deployed the stack in ap-southeast-1 and us-east-1 respectively and found out that in ap-southeast-1, KVSTranscribeStreamingLambda is failed to run due to the wrong endpoint address
`"https://transcribestreaming." + TRANSCRIBE_REGION.getName() + ".amazonaws.com"`

According to the [official doc](https://docs.aws.amazon.com/zh_cn/general/latest/gr/transcribe.html), the endpoint should be def

[2020-09-29 15:26] efh365 commented on #17
Hi,

The transcribe service we are using in this solution is Transcribe Streaming, not just Transcribe. Currently Transcribe Streaming is not available in ap-southeast-1 (Singapore), which is why it is not working. You can see the available regions here: https://aws.amazon.com/about-aws/global-infrastructure/regional-product-services/ (Transcribe Streaming is marked after the table in italics)

[2020-09-29 15:26] #17 closed

[2020-09-30 19:51] #12 closed

[2020-10-03 08:36] YogeshDhana commented on #8
@efh365 , @tamdilip, Is there any way I can show the Agent transcribe on the front end. If so could you please tell me? Thanks.

[2020-10-05 14:39] efh365 commented on #8
Yes, you can copy the setup for the customer side transcript for the agent side transcript. In short, there is a websocket established on the front end and whenever there is a write to the DDB, the messages are pushed to the API Gateway websocket API and received on the front end.

[2020-10-05 14:48] YogeshDhana commented on #8
@efh365 Thanks for the reply, I tried the same, but couldn't able to achieve it. Could you please show me an example or could you please tell me the method for Agent?

[2020-10-06 04:37] YogeshDhana commented on #8
@efh365 I have enabled to Stream both Agent and Customer audio, I can also able to store the transcript of Agent and Customer in DDB. But I couldn't able to find the method to show the Agent transcripts on the front end. Kindly help me on this please

[2020-10-06 17:51] efh365 commented on #8
Sorry, let me clarify. The pieces needed to pass the agent transcript to the front end are *not* a part of this solution. However, you can follow the same pattern that is used to pass the customer transcript to the front end (using a websocket API Gateway endpoint and subscribing to that websocket on the front end). You will need to configure that yourself, but you have the pattern available throu

[2020-10-07 04:40] YogeshDhana commented on #8
@efh365 Thank you. I made a workaround, It worked. Thanks again for the wonderful response.

[2020-10-07 20:48] #16 closed

[2020-10-08 14:41] LucMacPaquet commented on #16
Thanks for your answer. I'm wondering if there is a way to not hardcode the language...
The different languages ​​need to be supported in which services? Transcribe of course, Comprehend, Translate?
Thanks

[2020-11-13 07:02] cheolulee opened #18 "startLiveStreaming Failed"
sample UI console error code :
**Uncaught Error: Failed to extract MediaRtpStats from RTCStatsReport for stream type audio_input**

my region : **ap-northeast-1(dokyo)**

sample UI shows this status:
**Name | Value
kvsTriggerLambdaResult | Success
languageCode | en-US
saveCallRecording | true
startStreamingAudioStatus | Success
transcribeCall | true**

Amazon Connect "Live Media Streaming" Enable

[2020-11-13 21:10] efh365 commented on #18
Hi cheolulee. That error has to do with the Call Control Panel loading on the webpage and is not related to this project directly. What browser are you using? Chrome and Firefox are the best ones to use with the CCP. Can you try on a different browser? Have you added the new URL to the your amazon connect console to allow it to load the CCP?

[2020-11-14 04:58] cheolulee commented on #18
I tried Chrome, firefox , edge....
Is there any other solution?

[2020-11-16 04:04] cheolulee commented on #18
![image](https://user-images.githubusercontent.com/74398702/99211674-33e07a00-280c-11eb-86d3-74533e8e5ca4.png)

[2020-11-16 05:44] cheolulee commented on #18
![image](https://user-images.githubusercontent.com/74398702/99216743-c20f2d00-2819-11eb-833d-9e8dd9cc3f03.png)
-> code edit

![image](https://user-images.githubusercontent.com/74398702/99216829-06023200-281a-11eb-8cc9-3ec9e4c987a4.png)
-> console log(internal server error)
I don't know this error

[2020-11-17 20:49] miyelo commented on #18
Hi @efh365
Thanks for the template but I have the same error using the "aiChatFlow"

![image](https://user-images.githubusercontent.com/19828958/99445990-f6e7b680-28e3-11eb-90b4-069d739a9c6f.png)

I think the problem is between the webSocket and the web-app because the tables in dynamo are being updated with the text

[2020-11-18 01:58] cheolulee commented on #18
The Amazon Region is Tokyo,
I am in Korea.
Is this a problem?

[2020-11-18 07:55] #18 closed

[2020-12-04 18:52] dfw100 commented on #15
Closing this issue since we have added this issue to our backlog to address it in the next release.

[2020-12-04 18:52] #15 closed

[2020-12-04 18:53] dfw100 commented on #13
@drewdresser could you please let us know if this is still an issue?

[2020-12-18 23:24] khastation commented on #13
@drewdresser please reopen this issue if you're still facing this issue.

[2020-12-18 23:24] #13 closed

[2020-12-18 23:25] khastation commented on #10
@vidhanbagdai are you still facing this issue?

[2020-12-18 23:26] khastation commented on #7
@madmaxgorgon I see this issue was created over a year ago, are you still facing the same issue?

[2020-12-28 10:33] aman-appcino opened #19 "How can I get Agent Transcript on Front End"
I am able to save the transcript to DDB but not able to get it on frontend.
I tried to make a clone of lambda funtion ( Ai-powered-speech-analyti-wsrealtimetranscribeOnDD ) and set the trigger on tocustomer DDB but not able to get the data on frontend.
I think DDB scan method returning empty array instead of transcript .
can you help me with the same. what I need to do and get the agent transcript

[2020-12-28 10:35] aman-appcino commented on #8
@YogeshDhana can you help me with the same..
I am able to save the transcript to DDB but not able to get it on frontend.
I tried to make a clone of lambda function ( Ai-powered-speech-analyti-wsrealtimetranscribeOnDD ) and set the trigger on "tocustomer" DDB but not able to get the data on frontend.
I think DDB scan method returning empty array instead of transcript .
can you help me with the same

[2020-12-29 04:33] YogeshDhana commented on #8
@aman-appcino Please check whether the transcript is enabled for both agent and the customer. If not enable the transcripts to both and set the same trigger to both customer and the agent DDB.

[2020-12-29 07:24] aman-appcino commented on #8
@YogeshDhana
Thank you for reply.
The transcript is enabled for both agent and the customer . and the trigger is set on both agent and customer DDB.
The values are stores in agent table as well but unable to them on frontend using websocket.

[2020-12-30 04:32] YogeshDhana commented on #8
@aman-appcino You have to work around with Lambda functions to get the transcripts through WebSocket messages. Please  take a look at the kvs_transcribe_streaming_lambda and ws_realtime_transcribe_OnMessage lambda functions

[2021-01-20 23:36] #7 closed

[2021-01-20 23:37] dfw100 commented on #7
Please reopen the ticket should you need more help.

[2021-02-16 00:22] #10 closed

[2021-02-16 17:16] efh365 commented on #19
Hi @aman-appcino. In order to get the transcript to the frontend, you need to setup a new websocket connection or modify the existing one. This is the lambda function that is triggered when a new transcript is inserted into the DDB: https://github.com/amazon-connect/ai-powered-speech-analytics-for-amazon-connect/blob/master/source/ws_realtime_transcribe_OnDDBInsert/index.js

You can see that it se

[2021-02-24 06:58] aman-appcino opened #20 "How can I get Outgoing Transcript of both agent and customer."
How can I get Outgoing Transcript of both agent and customer.

[2021-02-24 06:59] aman-appcino commented on #19
Hi @efh365  ,
Thank you for reply .
I have resolved the issue by adding trigger on table.

[2021-02-24 06:59] #19 closed

[2021-03-15 04:36] nuatmochoi opened #21 "In transcribeStreaming, some languages is not working."
After communication with AWS Support Center, I made this issue.
In transcribeStreaming, languageCode korean(ko-KR) is not working.

When I tested KVSTranscriber in English(en-US) without any settings, There's no problem in process of speech-to-text.
In reference of other language (ex> en-GB, es-US), I set the languageCode to ko-KR, many errors occurred like below:

<details>
<summary> kvsTranscrib

[2021-03-29 20:57] efh365 commented on #20
@aman-appcino can you clarify what you mean by an "outgoing transcript"?

[2021-03-30 17:48] efh365 commented on #21
@nuatmochoi Can you try replacing the code for the KVSTranscriber with the code built in this PR: https://github.com/amazon-connect/amazon-connect-realtime-transcription/pull/57 ? That has updated dependencies and should support Korean. I tested with Australian English, which is a newer supported language, and it worked for me.

[2021-04-05 11:47] aman-appcino commented on #20
@efh365
Hi I want to get real time transcript in case of Outbound call (agent to customer)
Right now the solution only providing this functionality in case of inbound calls only(customer to agent).

[2021-04-06 07:15] Sarthak-Kulkarni opened #22 "How to get the real time Transcript of both the agent as well as customer?"
The solution currently provides the real time transcript of the customer only. How will I be able to get the real-time transcript of what the agent is saying? @aman-appcino @efh365

[2021-04-08 00:19] dfw100 opened #23 "the maximum session duration for the role"
The maximum session duration (in seconds) of the IAM Role is set to 900 seconds in the [initContactDetails](https://github.com/amazon-connect/ai-powered-speech-analytics-for-amazon-connect/blob/c8d10ddca8c706446bffa2cb6215e61a08446bfb/source/contact_init/index.js#L85) Lambda Function. It need to be increased to run the solution beyond 900 seconds.

[2021-04-08 04:53] nuatmochoi commented on #21
Sorry for late confirm. I tested with your latest PR, using Korean(ko-KR), and it works well.
Thank you for your timely and excellent solution to the problem. This issue was solved, and I close this issue.

[2021-04-08 04:55] #21 closed

[2021-04-08 18:31] dfw100 commented on #23
This has been addressed. Now, a new environment variable has been added to the initContactDetails Lambda Function so that user can specify a value from 900 to 3600 (in seconds).

[2021-04-08 18:31] #23 closed

[2021-04-12 05:06] Sarthak-Kulkarni opened #24 "How can I get the real-time agent transcript?"
@efh365
The solution currently provides the real time transcript of the customer only. I tried multiple things but to no avail. Can you please tell me how to get the agent transcript as well? @efh365

[2021-04-14 10:42] sourav31manjhi opened #25 "How can i get agent side transciption? Currently I am only able to get customer transcription."
I want the agent transcription in Real-Time along with customer transcription.

[2021-04-14 10:44] sourav31manjhi commented on #25
I want the agent transcription in Real-Time along with customer transcription.

[2021-04-19 19:43] dfw100 commented on #25
Hi sourav31manjhi, You need to enable streaming to and from the customer in the contact flow by using the Start Media Streaming block. Then you should see the audio stream to the customer being transcribed into the DDB for the ToCustomer audio stream.

[2021-04-19 19:50] dfw100 commented on #24
Hi Sarthak-Kulkarni, You need to enable streaming to and from the customer in the contact flow by using the Start Media Streaming block. Then you should see the audio stream to the customer being transcribed into the DDB for the ToCustomer audio stream.

[2021-04-19 19:52] dfw100 commented on #22
I am closing this issue as duplicate of #24

[2021-04-19 19:52] #22 closed

[2021-04-19 20:14] dfw100 commented on #20
@aman-appcino That is correct. The solution is designed to work only for Inbound call as described [here](https://docs.aws.amazon.com/solutions/latest/ai-powered-speech-analytics-for-amazon-connect/architecture.html) . You should be able to create a similar solution for outbound calling by using [StartOutboundVoiceContact](https://docs.aws.amazon.com/connect/latest/APIReference/API_StartOutboundVo

[2021-04-20 08:31] aman-appcino commented on #20
Thank you for your help and support @efh365 and @dfw100 .
I have found the solution for the same.

[2021-04-20 17:21] dfw100 commented on #20
Thanks @aman-appcino, I am glad you found the solution. I am closing this issue.

[2021-04-20 17:21] #20 closed

[2021-04-20 17:26] dfw100 commented on #20
@aman-appcino Also, if you got something generic, you are more than welcome to send a PR.

[2021-04-21 14:19] cbgandhi opened #26 "Chat with Translate doesn't work"
Hi,

I tried to used Chat with Translate but when I click on Send Message button it throws following error in AWS SDK js:

Uncaught TypeError: agentChatSession.sendMessage is not a function

It seems the issue is with import conflicts of ChatJS and AWS SDK, as ChatJS comes with baked in AWS SDK version.

Can you please help?

Thank you.

[2021-04-26 15:36] dfw100 commented on #26
Hi Chintan, I am closing this issue as the demo is working for you now based on our conversation. Please feel free to reopen to continue the discussion if issue still exists.

[2021-04-26 15:36] #26 closed

[2021-04-26 15:39] dfw100 commented on #25
Hi sourav31manjhi, I am closing the issue since we haven't received a response yet. Please feel free to reopen to continue the discussion if issue still exists.

[2021-04-26 15:39] #25 closed

[2021-04-26 15:41] dfw100 commented on #24
Hi Sarthak-Kulkarni, I am closing the issue since we haven't received a response yet. Please feel free to reopen to continue the discussion if issue still exists.

[2021-04-26 15:41] #24 closed

[2021-05-03 06:36] Sarthak-Kulkarni commented on #24
Hi! Can you please provide more details. I am still very unclear on how to get the agent transcript. Please provide detailed steps.

[2021-05-03 06:40] Sarthak-Kulkarni opened #27 "How to get the real time agent transcript?"
@dfw100 You provided some help in the #24 issue but I am still very unclear. Can you please provide detailed steps to get the real time agent transcript?
@dfw100

[2021-05-03 17:41] khastation commented on #27
Hey Sarthak- relaying the message from #24,
- You need to enable streaming to and from the customer in the contact flow by using the Start Media Streaming block.
- Then you should see the audio stream to the customer being transcribed into the DDB for the ToCustomer audio stream.

Which part would you like a clarification on?

Here is some additional documentation to help set up media streaming in

[2021-05-04 05:43] Sarthak-Kulkarni commented on #27
Thanks, I got the agent transcript in the DDB table. Can you please help me to display the agent transcript on the front end in the same manner as the customer transcript?

[2021-05-11 13:27] efh365 commented on #27
Hi @Sarthak-Kulkarni, please refer to the suggestion on this thread to get the agent transcript on the frontend: https://github.com/amazon-connect/ai-powered-speech-analytics-for-amazon-connect/issues/19

[2021-06-01 15:56] dfw100 commented on #27
Please refer to the solution suggested on the thread  #19 to get the agent transcript on the frontend.

[2021-06-01 15:56] #27 closed

[2021-06-02 19:32] delkry opened #29 "How do I add more languages to the translate options?"
Is it possible to add more languages to translate into? I'm trying to add French, but I have no idea where I might have to modify the code.

[2021-06-28 13:49] sachinjabshetty opened #30 "Chat Translate not working"
Hi,

I tried to used aichatflow for Chat with to Translate but it does nothing. chats dosent show on Translated Conversation and unable to send chat only native tool works. Sentiment is also not showing.

FYI - Voice works but translation is slow.

Please see the sample screenshot.

I am struggling from past few days to fix this but failed.

Please need your help.

![Agent desktop AI](https://user

[2021-07-21 08:10] stevehouel opened #31 "[Feature] Adding more transcribe language"
[Feature] Suggestion

For now, only en-US and es-US are available on kvs_trigger function. I would like to add more compatible language in order improve that solution.

I would like to also translate current flow (agent and contact) into those languages and give choice to user when deploying the stack to choose one.

[2021-07-30 09:16] mcosicaws commented on #30
Could you please check if there were any errors in browser Developer Console?

Thanks,
Milos

[2021-07-30 09:54] mcosicaws commented on #29
Is that related to voice or chat?

For voice, the solution utilize Amazon Transcribe for speech to text, therefore the language has to be supported by Amazon Transcribe. More details can be found here:
https://docs.aws.amazon.com/transcribe/latest/dg/API_streaming_StartStreamTranscription.html
Please check `LanguageCode` parameter.
Once you confirmed the language is supported, you need to set the

[2021-08-12 20:55] angelacyu commented on #31
Hi @stevehouel, there are two places in AI Powered Speech Analytics to set the language code, in the function and contact flow. You can use any language code that is available here https://docs.aws.amazon.com/transcribe/latest/dg/API_streaming_StartStreamTranscription.html#API_streaming_StartStreamTranscription_RequestParameters

[2021-08-12 20:56] angelacyu commented on #31
Please see this issue https://github.com/amazon-connect/ai-powered-speech-analytics-for-amazon-connect/issues/29 for complete instructions

[2021-08-24 10:38] tonix-tuft commented on #11
@laimonassutkus Sorry, what was your solution to this error? And which tutorial did you follow? Thank you!

[2021-09-02 14:05] laimonassutkus commented on #11
I just followed EXACTLY word by word documentation. Delete everything previously.

[2021-09-07 11:08] mcosicaws commented on #29
Closing due to no response, please feel free to re-open should you need any additional help.

[2021-09-07 11:08] #29 closed

[2021-09-07 11:10] mcosicaws commented on #30
Closing due to no response, please feel free to re-open should you need any additional help.

[2021-09-07 11:10] #30 closed

[2021-09-13 10:44] mcosicaws commented on #31
Closing due to no response, please feel free to re-open should you need any additional help.

[2021-09-13 10:44] #31 closed

[2021-10-01 10:44] yuichiro-honda opened #32 "文字起こしの欠落"
KVSの45分のリミットを超えるために、42分で再リクエストしていますが、
まだTranscribeが完了していないうちに再実行してしまうため、20秒程度のテキスト化の結果が欠落します。

また、稀に継続せずに顧客またはオペレータの文字起こしが終了してしまいます。
こちらに関しては、GetMedia API より返却されるペイロードから AWS_KINESISVIDEO_CONTINUATION_TOKEN を取得して、
そのトークンを指定して再度 GetMedia を行うよう修正することで対応出来ました。

[2021-10-01 10:47] yuichiro-honda opened #33 "同時通話で文字起こしが中断する。"
このサンプルで同時通話を実行すると、文字起こしが中断します。
おそらくスレッドでタスクを処理しきれなくなって終わってしまっているように見えます。
単にこのサンプルとして使うのであれば問題ないですが、実際のコールセンターでは使えません。

java.util.concurrent.RejectedExecutionException: Task java.util.concurrent.FutureTask@30f751d0[Not completed, task = java.util.concurrent.Executors$RunnableAdapter@166249ce[Wrapped task = com.amazonaws.transcribestreaming.KVSByteToAudioEventSubscription$$Lambda$440/0x000000010054e

[2021-10-04 22:54] dfw100 commented on #33
Hi @yuichiro-honda , could you please provide us with additional information such as steps to reproduce and the AWS resource where you are seeing this error?

[2021-10-04 22:54] dfw100 commented on #32
Hi @yuichiro-honda , could you please provide us with additional information such as steps to reproduce and the AWS resource where you are seeing this error?

[2021-10-05 00:53] yuichiro-honda commented on #33
Hi @dfw100 san
このソリューションのAmazon Connectで同時通話を行います。
例えば5通話同時に実行すると、途中でエラーが発生して音声テキスト化が5通話共に終了します。
1通話では発生しないようです。エラーが出るまでの時間はまちまちです。
この音声テキスト化のプログラムはAmazon ConnectのLambda呼び出しブロックで実行されるトリガーLambdaの実行で
SQSからのメッセージを受けて、スレッドを立ち上げて処理しているようですが、
上記のログを見ると、タスクが処理しきれなくなって終了しているように見えます。
そのため、問題は音声テキスト化のプログラムにあると思われます。

[2021-10-05 01:00] yuichiro-honda commented on #32
Hi @dfw100 san.
２つの問いかけにレスポンスありがとうございます。
このサンプルはKVSの45分の制限を超えるために、42分で文字起こしを再実行しているかと思います。
ただし、実際に42分を超えて再実行された時に、その切り替えの20数秒エラーが発生して、
文字起こし結果が欠落します。また、稀に顧客またはオペレータの音声テキスト化が再実行されずに終了します。
推測ですが、再実行時に前のTranscribeの結果が完了していないうちに再実行され、
継続して開始する位置が、Transcribeの結果が完了していない部分より後ろから開始されているのではないかと
思われます。
これは普通に42分以上通話をして、跨ぐ部分で会話をしていれば、毎回再現します。
再現する場合は通話量がもったいないので、42分を5分とかに書き換えて再現したほうがよいです。

[2021-10-11 21:14] angelacyu commented on #32
Hi @yuichiro-honda, KVS Session are limited to 45 minutes so we request a new endpoint at 42 minutes and issue a new GetMedia. Please try adjusting the timing in the code.

Please see aws/amazon-kinesis-video-streams-parser-library#108 . We have the same implementation.

Let me know if this answers your question.

[2021-10-12 03:39] yuichiro-honda commented on #33
Hi @Angela

コメントありがとうございます。
この問題はKVSの45分リミットの問題ではありません。
Gitのサンプルはこの対応がすでに組み込まれています。（課題はありますが）

本件は同時通話によって、数分ですべての文字起こしが例外を起こして終了します。

AWS側も再現することを確認しています。
ただし、AWS側も何が問題か把握できていません。

ログを見る限りJavaのスレッドがタスクを処理しきれずシャットダウンしていると思われます。

KVSに45分のリミットがあることは理解していますので、リンクの内容では解決しません。

ありがとう。

2021年10月12日(火) 6:13 Angela ***@***.***>:

--
__________________________________________________

ＡＲアドバンストテクノロジ株式会社【Ａ.Ｒ

[2021-10-12 03:46] yuichiro-honda commented on #32
Hi, @Angela

KVSに45分のリミットがあることは理解しています。
このサンプルはそれが対応されています（42分で再実行）。

ただし、処理に問題があるため、再実行するさいの20数秒の文字起こしが欠落します。
ログにも例外が出力されるはずです。

これは、再実行時に、Transcribeも再実行しているせいかと思われます。
そのため、KVS再実行時にはまだ完了していない文字起こし処理が、中断されてしまうのではないでしょうか？
サンプルプログラムを試せば100％再現するので確認できるかと思います。

42分待つのは長すぎるので、再実行時間を5分程度に変更して試すのがよいかと思います。

ありがとう。

2021年10月12日(火) 6:14 Angela ***@***.***>:

--
_____________________________________________

[2021-11-08 22:46] joshuarodriguez82 opened #34 "Chat translate not working"
I uploaded the template, followed the instructions on the blog post and admin guide but cannot get chat or audio transcripts to work. Currently the chat comes in, there is no detection in the custom CCP at all. I have a test chat to the aiChatFlow that comes in the s3 bucket. Please let me know what other information you need to help diagnose the issue.

[2021-11-22 15:09] sergiolecuona opened #35 "CCP domain changed"
Hi,

After deploying this solution I needed to update website files changing CCP domain from .awsapps to .my.connect.aws.

It seems that AWS has changed Connect domain and I think this project should be updated by changing CCPURL and LoginURL variables.

Thank you.
Regards.

[2021-11-22 16:29] mcosicaws commented on #34
Could you please check your browser's console for any errors?

[2021-11-29 19:23] kqia040 commented on #34
Hey @joshuarodriguez82 have you had the chance to check?

[2021-11-29 19:47] kqia040 commented on #32
Hey @yuichiro-honda thanks for the update. Here is in the code where this is done

https://github.com/amazon-connect/ai-powered-speech-analytics-for-amazon-connect/blob/66bbbf4163e3ef9bd0ee2eb56e84db0bfae43ee9/source/kvs_transcribe_streaming_lambda/src/main/java/com/amazonaws/kvstranscribestreaming/KVSRecordingTask.java#L198

Feel free to update it to see if it suits your use case better. Please k

[2021-12-09 22:47] joshuarodriguez82 commented on #34
Yes sorry for the delayed response, I'm getting quite a few browser errors that I do not know how to diagnose. I have them saved as text files.

[d3v8smcgg7of5m.cloudfront.net-1639089973052-SACCPErrors.log](https://github.com/amazon-connect/ai-powered-speech-analytics-for-amazon-connect/files/7688928/d3v8smcgg7of5m.cloudfront.net-1639089973052-SACCPErrors.log)
[d3v8smcgg7of5m.cloudfront.net-163908

[2021-12-14 23:28] dfw100 commented on #35
Thanks for reporting it @sergiolecuona . We will make this change in the next release of AI Powered Speech Analytics for Amazon Connect.

[2021-12-17 20:36] dfw100 opened #36 "How do I remediate RCE 0-day exploit found in Apache Log4j2"
Remediation as per Apache [here](https://logging.apache.org/log4j/2.x/security.html), see sections "Fixed in Log4j 2.15.0" and "Fixed in Log4j 2.17.0"

Please follow the steps in README.md to make a new build and deploy with the latest versions of amazon-kinesis-video-streams-parser-library (which has been patched with log4j v2.17.0), org.slf4j:slf4j-api, and org.slf4j:slf4j-log4j12.

Please note

[2022-01-10 04:56] DMishra-22 commented on #36
Hi @dfw100,

While trying to deploy the solution via AWS Solution Guide https://docs.aws.amazon.com/solutions/latest/ai-powered-speech-analytics-for-amazon-connect/deployment.html#step1 now, the stack description shows 'AI Powered Speach Analytics for Amazon Connect Version **v1.1.2**'. I see the latest release on github repo is also **1.1.2**, after the above remediation for Log4j2 exploit.

So i

[2022-01-11 19:01] dfw100 commented on #36
AWS solution is patched to to mitigate Log4j Vulnerability.

[2022-01-11 19:01] #36 closed

[2022-02-28 16:22] karthikeyan-kandasamy opened #37 "deployment/manifest-generator: No such file or directory"
Hi, I am following the steps given in the [README.md](https://github.com/amazon-connect/ai-powered-speech-analytics-for-amazon-connect/blob/main/README.md) to build the source.

Getting below error in the last step of the build-s3-dist.sh. It seems, the manifest-generator is missing in the source. Can anyone help on this issue?

`./build-s3-dist.sh: line 262: cd: /Users/KK/Projects/ai-powered-spee

[2022-03-01 08:56] karthikeyan-kandasamy commented on #37
I have downloaded the app.js file (with manifest-generator) from the below forked repository.
https://github.com/slawomirkroczak/ai-powered-speech-analytics-for-amazon-connect/tree/master/deployment/manifest-generator

[2022-03-01 08:56] #37 closed

[2022-04-04 04:06] yuichiro-honda commented on #33
こちらの原因はDynamoDBのキャパシティの問題でした。
オンデマンドにすることで解決しました。
Gitに上がっているコードは固定で5になっているため、同時通話でキャパシティを超えて、この問題が起きます。

[2022-04-13 17:29] olegromanchuk commented on #5
The issue is still present - no "deployment/manifest-generator" folder. Solved with help of #37 however.

[2022-05-05 21:18] mahajanroopali opened #38 "Error on UI when connecting to connect"
When I launch the UI, For the agent assist section, I get below error message in browser

"To protect your security, ab2-roopali-connect-demo.awsapps.com will not allow Firefox to display the page if another site has embedded it. "
On opening in new browser, I get error -
"Access Error
This application has not been enabled for your directory. Please contact your Administrator for more details."

I

[2022-05-16 09:20] virtualgill commented on #38
Hi @mahajanroopali

Thanks for raising this. The solution currently only supports the older Amazon Connect url format. It’s on the team’s roadmap to provide support for both. For now in order to use this with a newer Amazon Connect instance, you can update the loginURL and ccpURL variables in agentAssist.html.

The agentAssist.html file can be found in the repo at: [https://github.com/amazon-conne

[2022-05-16 13:19] mahajanroopali commented on #38
Thank you. The fix  worked and the UI loads seamlessly now.

[2022-05-16 13:19] #38 closed

[2022-08-12 16:52] gevial opened #39 "Build fails with 'manifest-generator: No such file or directory'"
I cloned the repo (tag v1.1.2) and followed the instructions in README to build distributable for customisation, got the following error:

```./build-s3-dist.sh: line 262: cd: /Users/Gennadii_Aleksandrov/Documents/git/other/AmazonConnectSandbox/ai-powered-speech-analytics-for-amazon-connect/deployment/../source/../deployment/manifest-generator: No such file or directory```

After that the build fa

[2022-08-28 12:10] rhamnett commented on #39
Same issue

[2022-08-28 12:50] rhamnett commented on #39
@gevial  I coped manifest-generator from here:

https://github.com/aws-solutions/real-time-insights-account-activity/tree/master/deployment/manifest-generator

then edited the build file line 264:
node app.js --target "$build_dist_dir/web_site" --output "$build_dist_dir/web-site-manifest.json"

Hope that helps.